html{
    margin: 0px;
    padding: 0px;
}

#body{
    margin: 0px;
    padding: 0px;
    background-color: #000E0F;
}

.grid-container{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
    "header content"
    "menu content"
    ;
}

#header{
    grid-area: header;
    background-color: #1B5559;
    color: white;
    text-align: center;
    font-size: 20px;
}

#menu{
    grid-area: menu;
    background-color: #1B5559;
}

#menu a{
    background-color: #1B5559;
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
}

#menu a:hover{
    background-color: #2c7379;
}

#menu a.active{
    background-color: #449ca1;
}

#menuLabel{
    background-color: #000E0F;
    color: white;
    padding: 12px;
}


